div-1 {
  width: 100px;
}
div-2 {
  width: 200px;
}
div-3 {
  width: 300px;
}
div-4 {
  width: 400px;
}
div-5 {
  width: 500px;
}
div-6 {
  width: 600px;
}
div-7 {
  width: 700px;
}
div-8 {
  width: 800px;
}
div-9 {
  width: 900px;
}
