<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="message" placeholder="edit me">
        <textarea v-model="message2" placeholder="add multiple lines"></textarea>


        <input type="checkbox"  v-model="checked">
        <label for="checkbox">{{ checked }}</label>


        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div id="example-4">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>


        <div id="example-5">
            <select v-model="selected">
                <option disabled value="">请选择</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>

        <div id="example-6">
            <select v-model="selected2" multiple style="width: 50px;">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected2 }}</span>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            message:"单行文本",
            message2:"多行文本",
            checked:true,
            checkedNames:["Jack"],
            picked:"Two",
            selected:"a",
            selected2:["A","B","C"]
        }
    })
</script>
</html>