<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        fistName: <input type="text" v-model="firstName" > <br>
        lastName: <input type="text" v-model="lastName" > <br>
        fullName: <input type="text" v-model="fullName"> <br>
    </div>
</body>
<script src="../js/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            firstName:"t",
            lastName:"mac",
            age:18
        },
        computed:{
            fullName:{
                get:function(){
                    return this.firstName + "-"+this.lastName
                },
                set(val){
                    var arr = val.split("-");
                    this.firstName = arr[0];
                    this.lastName = arr[1];
                }
            }
        }
    });
</script>
</html>